*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/*logo*/

header{
    background-color: white;
    padding: 10px;
}

h1{
    display: inline-block;
    vertical-align: top;
    padding-bottom:auto;
    font-family: sans-serif;
    font-size: 40px;
}

/*main*/
main{
    background-color: rgb(240, 240, 240);
    width: 100%;
    
}

.conteiner{
    border-top: solid 25px rgb(240, 240, 240);
    background-color: white;
    margin: auto;
    width: 65%;
    padding: 10px;
    padding-left: 30px;
    border-bottom: solid 10px rgb(240, 240, 240);
}

/*Buttons*/
.buttons{
    
    border-bottom: solid 2px rgb(240, 240, 240);
    margin-left: -40px;
    margin-right: -40px; 

}

.tesk{
    width: 50px;
    padding: 5px;
    margin-bottom:15px;
    font-size: 10px;
    background-color: rgb(121, 163, 208);
    color: white;
    text-align: center;
    border: 0;
    border-radius: 2px;
    font-weight: 2px;
    margin-left: 55px;
}
.section{
    width: 60px;
    padding: 5px;
    font-size: 10px;
    background-color: white;
    text-align: center;
    border-color: rgba(202, 199, 199, 0.5);
    border-radius: 2px;
}

/*list*/

ul{
    padding: 15px;
    list-style: none;
    font-family: sans-serif;
    font-size: 15px;
}

li{
    padding-top:10px;
}


.cose-fatte{
    background-color: white;
    border-radius: 50%;
    border: solid 3px rgb(15, 231, 0);
    padding: 0 2px 0 2px;
    margin-right: 10px;
    margin-left: -15px;
}

.cose-non-fatte{
    background-color: white;
    border-radius: 50%;
    border: solid 3px red;
    padding: 0 2px 0 2px;
    margin-right: 10px;
    margin-left: -15px;
}

.editorial{
    background-color: rgb(8, 255, 251);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}

.q1-goals{
    background-color: rgb(255, 8, 222);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}

.recruiting{
    background-color: rgb(8, 255, 99);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}

.mobile{
    background-color: rgb(255, 169, 8);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}

.website{
    background-color: rgb(254, 112, 180);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}

.sales{
    background-color: rgb(255, 8, 222);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}